@import '../../../variables';

:host{
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 2rem;
    bottom: 0;

    transition: width 0.2s ease-in;

    z-index: 8;
    background-color: var(--aw-darker-background);

    display: grid;
    grid-template-rows: 2rem 1fr;

    &.right-hand-filter{
        left: initial;
        right: 0;
    }

    #open-close-filter{
        justify-self: end;
        margin-right: 0.5rem;

        #side-arrow-container{
          width: 1rem;
          height: auto;

          #side-arrow{
            fill: var(--aw-white);
            transform-origin: 50% 50%;
            transition: transform 0.3s ease-in-out;
          }
        }

        &:hover{
          #side-arrow-container{
            #side-arrow {
              fill: var(--aw-accent);
            }
          }
        }
    }

    &.filter-menu-active{
        width: 12rem;
    }

    #vertical-filter-label{
        display: block;
        transform: rotate(-90deg);
        position: relative;
        right: 0.666rem;
        top: 1rem;
    }

    #horizontal-filter-label{
        visibility: hidden;
    }
}

:host.filter-menu-active {

  #side-arrow {
    fill: var(--aw-accent);
    transform: rotate(-180deg);
  }
}


.open-close-filters-label{
    font-family: 'Jaapokki';
    letter-spacing: 0.1rem;
}



@media(max-width: $mobile-breakpoint) {
    :host.filter-menu-active{
        width: 100vw;
    }
}
