<div    id="horizontal-label-container"
        (click)="toggleFilterMenu(false)">
    <span   id="horizontal-filter-label"
            class="open-close-filters-label">
        hide filters
    </span>
</div>
<div id="filter-right-column">
    <div  id="side-arrow-container"
            (click)="toggleFilterMenu()">
        <svg  width="0.66rem" viewBox="0 0 80 92.4"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <path id="side-arrow"
                d="M0,46.2l80,-46.187l0,92.374l-80,-46.187Zm67.999,-25.403l-43.999,25.403l44.002,25.403l-0.003,-50.806Z"/>
        </svg>
    </div>
    <div    id="vertical-label-container"
            (click)="toggleFilterMenu(true)">
        <span   id="vertical-filter-label"
                class="open-close-filters-label">
                filters
        </span>    
    </div>
</div>
<div id="filter-main-container">
    <ng-content></ng-content>
</div>
