@import "../../variables";

a:nth-child(1) {
  justify-self: start;
  margin-left: 1.25rem;
}

a:nth-last-child(1) {
  margin-right: 1rem;
}

:host-context(.scrollbar-active) a:nth-last-child(1) {
    margin-right: calc(1rem - var(--scrollbar-width));
}


.triangle{
  fill: var(--aw-white);
  transition: transform 0.75s ;
}

.w-triangle{
  fill: var(--aw-accent);
}
#triangle-2{
  transform: translateX(114.7px) translateY(46.7px) rotate(60deg) ;
}

#triangle-3{
  transform: translateX(144.7px) translateY(46.7px) rotate(60deg) ;
}

#logo:hover,
#logo:focus{
  .triangle{
    fill: var(--aw-white);
  }

  #triangle-2{
    transform: translateX(161px) translateY(73.3px) rotate(120deg) ;
  }

  #triangle-3{
    transform: translateX(272px) translateY(73.3px) rotate(240deg) ;
  }
}

.nav-link {
  position: relative;
  z-index: 1;
  padding: 0.5rem .75rem;

  font-family: 'Jaapokki';
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: var(--aw-white);

  user-select: none;

  margin-top: 0.15rem; //Fudge! Not sure why this is needed, fix later.

  span::before,
  span::after{
    visibility: hidden;
    position: absolute;
    content: "";
    z-index: -1;

    height: 0%;
    width: 0%;

    border-color: var(--aw-accent);
    border-style: solid;


    transition: width 0.3s ease-out 0.3s,
                height 0.3s ease-out,
                visibility 0s linear 0.6s;
  }


  span::before{
    bottom: 0.2rem;
    right: 0.2rem;

    border-width: 0rem 0rem 0.2rem 0.2rem;
  }

  span::after{
    top: 0;
    left: 0;

    border-width: 0.2rem 0.2rem 0rem 0rem;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: var(--aw-accent);
}

.link-active{

  color: var(--aw-accent);


  span::before,
  span::after{
  visibility: visible;


  height: calc(100% - 0.4rem);
  width: calc(100% - 0.4rem);

  transition: width 0.3s ease-out,
              height 0.3s ease-out 0.3s,
  }

  span::before{
    border-width: 0rem 0rem 0.2rem 0.2rem;
  }

  span::after{
    border-width: 0.2rem 0.2rem 0rem 0rem;
  }
}
// Add this back in later but need to blur after clicking nav links
// .link-active:focus{
//   color: var(--aw-white);
// }

.nav-hamburger-menu{
  display: none;
  color: var(--aw-white);

  stroke: var(--aw-white);
  stroke-width: 4px;

  .hamburger-line{
    // transform-origin: 25px 14px;
    transition: transform 0.6s ease-in-out;
    transform: scale(1);
  }

  #hamburger-line-1{

    transform-origin: 25px 14px;
  }

  #hamburger-line-2{
    transform-origin: 25px 25px;
  }
  #hamburger-line-3{

    transform-origin: 25px 36px;

  }
}

.nav-hamburger-menu:hover{

  cursor: pointer;

  // #hamburger-line-1{
  //   transform: translateY(-3px)
  // }

  // #hamburger-line-3{
  //   transform: translateY(3px)
  // }

  // #hamburger-line-1{

  //   transform: translateY(11px) rotate(-45deg);
  // }
}

.mobile-menu-active{
  #hamburger-line-1{

    transform-origin: 25px 14px;
    transform: matrix(0.71,0.71,-0.71,0.71,0,11);
  }

  #hamburger-line-2{
    transform-origin: 25px 25px;
    transform: scaleX(0);
  }
  #hamburger-line-3{

    transform-origin: 25px 36px;
    transform:matrix(0.71,-0.71,0.71,0.71,0,-11);

  }
}

@media(max-width: $mobile-breakpoint){
  .nav-hamburger-menu{
    display: block;
  }

  .nav-link{
    display: none;
  }
}

