<a [routerLink]="['/']" id="logo">
  <svg  height="50px" width="133.333px" viewBox="0 0 320 120" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve" xmlns:serif="http://www.serif.com/">
      <path id="triangle-1"
            class="triangle"
            d="M50,20l46.188,80l-92.376,0l46.188,-80Zm-25.403,68l50.806,0l-25.403,-44l-25.403,44Z"/>
      <path id="triangle-2"
            class="triangle w-triangle"
            d="M0,-53.3l46.188,80l-92.376,0l46.188,-80Zm25.403,68l-25.403,-44l-25.403,44l50.806,0Z"/>
      <path id="triangle-3"
            class="triangle w-triangle"
            d="M0,-53.3l46.188,80l-92.376,0l46.188,-80Zm25.403,68l-25.403,-44l-25.403,44l50.806,0Z"/>
    </svg>
</a>


<a  class="nav-hamburger-menu"
    role="button"
    aria-label="menu"
    [attr.aria-pressed]="mobileMenuActive"
    (click)="toggleMobileMenuActive()"
    [ngClass]="{'mobile-menu-active': mobileMenuActive}">
      <svg  height="50px" width="50px" viewBox="0 0 50 50" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve" xmlns:serif="http://www.serif.com/">
            <line id="hamburger-line-1"
                  class="hamburger-line"
                  x1="5" y1="14"
                  x2="45" y2="14"/>
            <line id="hamburger-line-2"
                  class="hamburger-line"
                  x1="5" y1="25"
                  x2="45" y2="25"/>
            <line id="hamburger-line-3"
                  class="hamburger-line"
                  x1="5" y1="36"
                  x2="45" y2="36"/>
      </svg>
</a>


<a  class="nav-link"
    [routerLink]="['/art']"
    [routerLinkActive]="['link-active']">
    <span>ART</span>
</a>
<a  class="nav-link"
    [routerLink]="['/code']"
    [routerLinkActive]="['link-active']">
    <span>CODE</span>
</a>
<!-- <a  class="nav-link"
    [routerLink]="['/other']"
    [routerLinkActive]="['link-active']">
    <span>OTHER</span>
</a> -->
<a  class="nav-link"
    [routerLink]="['/about']"
    [routerLinkActive]="['link-active']">
    <span>ABOUT</span>
</a>


