:host{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr auto auto auto auto;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  height: 100px;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);

  color: white;



  a:nth-last-child(1) {
    margin-right: 20px;
  }
}
