<div>
  <a [routerLink]="['/']">AW</a>
</div>

<a  class="nav-link"
    [routerLink]="['/art']"
    [routerLinkActive]="['link-active']">
    <span>ART</span>
</a>
<a  class="nav-link"
    [routerLink]="['/code']"
    [routerLinkActive]="['link-active']">
    <span>CODE</span>
</a>
<!-- <a  class="nav-link"
    [routerLink]="['/other']"
    [routerLinkActive]="['link-active']">
    <span>OTHER</span>
</a> -->
<a  class="nav-link"
    [routerLink]="['/about']"
    [routerLinkActive]="['link-active']">
    <span>ABOUT</span>
</a>
