a:nth-child(1) {
  justify-self: start;
  margin-left: 25px;
}

a:nth-last-child(1) {
  margin-right: 20px;
}


.triangle{
  fill: var(--aw-white);
  transition: transform 0.75s ;
}

.w-triangle{
  fill: var(--aw-accent);
}
#triangle-2{
  transform: translateX(114.7px) translateY(46.7px) rotate(60deg) ;
}

#triangle-3{
  transform: translateX(144.7px) translateY(46.7px) rotate(60deg) ;
}

#logo:hover,
#logo:focus{
  .triangle{
    fill: var(--aw-white);
  }

  #triangle-2{
    transform: translateX(161px) translateY(73.3px) rotate(120deg) ;
  }

  #triangle-3{
    transform: translateX(272px) translateY(73.3px) rotate(240deg) ;
  }
}

.nav-link {
  position: relative;
  z-index: 1;
  padding: 0.5rem .825rem;

  font-family: 'Jaapokki';
  letter-spacing: 0.375rem;
  text-decoration: none;
  color: var(--aw-white);

  span::before,
  span::after{
    visibility: hidden;
    position: absolute;
    content: "";
    z-index: -1;

    height: 0%;
    width: 0%;

    border-color: var(--aw-accent);
    border-style: solid;


    transition: width 0.3s ease-out 0.3s,
    height 0.3s ease-out,
    visibility 0s linear 0.6s;
  }


  span::before{
    bottom: 0.25rem;
    right: 0.25rem;

    border-width: 0rem 0rem 0.25rem 0.25rem;
  }

  span::after{
    top: 0;
    left: 0;

    border-width: 0.25rem 0.25rem 0rem 0rem;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: var(--aw-accent);
}

.link-active{

  color: var(--aw-accent);

  span::before,
  span::after{
  visibility: visible;


  height: calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);

  transition: width 0.3s ease-out,
              height 0.3s ease-out 0.3s,
  }

  span::before{
    border-width: 0rem 0rem 0.25rem 0.25rem;
  }

  span::after{
    border-width: 0.25rem 0.25rem 0rem 0rem;
  }
}
