:host {
    display: grid;
    margin-left: 1.5rem;
    padding-left: 1rem;
    grid-template-columns: 1fr;

    transition: margin-left 0.2s ease-in;

    &.filter-menu-activated {
      margin-left: 11.5rem;
    }
}

/* Filter Menu */
aw-filter-panel {

  font-family: 'Jaapokki';
  user-select: none;

  p {
    font-size: 0.75rem;
  }


  h2,h3 {
    text-transform: uppercase;

    position: relative;
    display: inline-block;
  }

  h2 {
    font-size: 0.875rem;

    &::after {

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 66%;
      height: 100%;

      border-bottom: 2px solid var(--aw-white);
    }
  }

  h3 {
    font-size: .66rem;
    margin-bottom: 1rem;
  }

  hr {
    border: 1px solid var(--aw-white);
    background-color: var(--aw-white);
    width: 75%;
  }

  .filter-title-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -.66rem;
  }

  .set-all-filters {
    text-transform: uppercase;
    color: var(--aw-accent);
    font-size: 0.5rem;
  }

  .filter-icon {
    height: 1.25rem;
    width: auto;

    stroke: var(--aw-white);
    color: var(--aw-white);
    padding-right: 1rem;

    position: relative;

    text {
      fill: var(--aw-white);
      stroke: none;
    }
  }
}



/* Image Gallery */

@keyframes pulse-fade {
  from {
    opacity: 0;
  } to {
    opacity: 0.2;
  }
}

#image-gallery{
  font-size: 0;
  line-height: 0;

  column-count: 4;
  column-gap: .75rem;

  margin-bottom: 1rem;
  margin-right: 1rem;
}

.image-wrapper {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: .75rem;

  background-color: var(--aw-white);
  animation: pulse-fade 1s ease-in infinite alternate;

  user-select: none;


  .image {
    width: 100%;
    height: auto;

    opacity: 0;

    transition: opacity 0.3s;
    // clip-path: inset(0);

  }

  &.image-loaded {

    animation: none;

    .image {
      opacity: 1;
      transition: none;

      &:hover{
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }

}

.transition-setter{
  transition: all .375s ease-in !important;
  cursor: default !important;
}

// .selected-image {

//   left: 200px !important;
//   top: 200px !important;
//   height: 500px !important;
//   width: auto !important;

//   z-index: 81;
// }

@media(max-width: 1200px) {
  #image-gallery {
    column-count: 3;
  }
}


@media(max-width: 800px) {
  #image-gallery {
    column-count: 2;
  }
}

@media(max-width: 600px) {
  #image-gallery {
    column-count: 1;
  }
}



/* Image Modal */

#image-modal {
  visibility: hidden;

  position: fixed;
  bottom: 0;
  height: calc(100vh - var(--header-height));
  left: 0;
  width: 100vw;

  background-image: url('../../../assets/images/background.svg');
  z-index: 80;

  display: grid;
  grid-template-columns: 5rem 1fr 5rem;

  .darken-layer{
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
    background-color: var(--aw-darker-background);

    z-index: 80;
    position: fixed;
  }

  .nav-image-panel {
    height: calc(100vh - var(--header-height));
    display: grid;
    place-items: center;

    z-index: 81;
  }

  .nav-image-arrow {
    width: 3rem;

    fill: var(--aw-white);
    cursor: pointer;

    &:hover{
      fill: var(--aw-accent);
    }
  }

  #back-to-gallery {

    display: grid;
    grid-template-columns: 2.275rem 1fr;
    align-items: center;

    position: fixed;
    white-space: nowrap;
    cursor: pointer;

    font-family: 'Jaapokki';
    text-transform: lowercase;

    user-select: none;
    align-self: start;

    transform:  rotate(90deg)
                translateX( var(--header-height) )
                translateY(50%);

    #gallery-image-arrow {
      width: 1.5rem;
    }

    #gallery-text {
      display: inline-block;
      line-height: 1rem;
    }

    &:hover{
      #gallery-image-arrow {
        fill: var(--aw-accent);
      }
    }
  }
}

#next-image-panel {
  #next-image-arrow{
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }
}


#selected-image-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;

  #image-panel {

    display: flex;
    justify-content: flex-end;

    height: calc( 100vh - var(--header-height) - 2rem);
    width: 100%;

    margin-top: 1rem;

    #selected-image {
      width: auto;
      height: 100%;

      opacity: 0;

      padding-right: 2rem;
      user-select: none;
    }

    #selected-image.not-initial-image {
      opacity: 1;
      z-index: 81;
    }
  }
}

#info-panel {
  justify-self: flex-start;

  z-index: 81;


  max-height: 100%;
  width: clamp(300px, 80%, 600px);
  padding-left: clamp(2rem, 10%, 10rem);


  h1 {
    font-family: 'Jaapokki';
    text-transform: uppercase;
    font-size: 40px;
  }

  #share-title {
    font-family: 'Jaapokki';
    text-transform: uppercase;
  }
}


.slide-up {
  // opacity: 1;
}


.share-icon{
  height: 2rem;
  width: auto;

  .social-logo{
    fill: red;
  }
}
