:host {
    display: grid;
    margin-left: 1.5rem;
    padding-left: 1rem;
    grid-template-columns: 1fr;

    transition: margin-left 0.2s ease-in;

    &.filter-menu-activated {
      margin-left: 11.5rem;
    }
}

/* Filter Menu */
aw-filter-panel {

  font-family: 'Jaapokki';

  p {
    font-size: 0.75rem;
  }


  h2,h3 {
    text-transform: uppercase;

    position: relative;
    display: inline-block;
  }

  h2 {
    font-size: 0.875rem;

    &::after {

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 66%;
      height: 100%;

      border-bottom: 2px solid var(--aw-white);
    }
  }

  h3 {
    font-size: .66rem;
    margin-bottom: 1rem;
  }

  hr {
    border: 1px solid var(--aw-white);
    width: 75%;
  }

  .filter-title-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -.66rem;
  }

  .set-all-filters {
    text-transform: uppercase;
    color: var(--aw-accent);
    font-size: 0.5rem;
  }

  .filter-icon {
    height: 1.25rem;
    width: auto;

    stroke: var(--aw-white);
    color: var(--aw-white);
    padding-right: 1rem;

    position: relative;
  }
}



/*  */
