<aw-filter-panel>
    <!-- <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
        <g transform="translate(139.171,38.257)"> 
            <polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872 
            0,-6.385 "/>
        </g>
        <circle fill="none" stroke-width="10" stroke-miterlimit="10" cx="59" cy="50" r="40.5"/>
        <g transform="translate(59,50)">
            <g class="hand">
                <circle cx="0" cy="0" r="5"/>
                <line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="0" y2="-28"/>
            </g>
            <g class="hand" id="hour-hand">
                <line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="15.129" y2="12.694"/>
            </g>
        </g>
    </svg> -->
</aw-filter-panel>

<p #p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eligendi reprehenderit nesciunt veritatis recusandae explicabo sint quam saepe est eaque, beatae voluptate consequatur dolorum id consectetur impedit. Eaque, praesentium consequatur.</p>
<p #p>Iste culpa, nihil, provident sint alias sit sunt exercitationem aperiam a itaque reiciendis quo beatae non deleniti assumenda accusantium cum inventore ducimus!</p>

<button (click)="breakIntoLines()">Break into lines</button>

<button (click)="animateLines()">Animate Lines</button>