<aw-filter-panel  [@filterRevealAnimations]="filterMenuActivated"
                  (filterMenuActivation)="filterMenuActivation($event)" >

  <h2 class="open-reveal-from-left">Sort</h2>

  <div class="filter-collection open-reveal-from-left">

    <span>AZ</span>
    <!-- <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
        <g transform="translate(139.171,38.257)"> 
            <polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872 
            0,-6.385 "/>
        </g>
        <circle fill="none" stroke-width="10" stroke-miterlimit="10" cx="59" cy="50" r="40.5"/>
        <g transform="translate(59,50)">
            <g class="hand">
                <circle cx="0" cy="0" r="5"/>
                <line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="0" y2="-28"/>
            </g>
            <g class="hand" id="hour-hand">
                <line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="15.129" y2="12.694"/>
            </g>
        </g>
    </svg> -->
  </div>

    <hr class="open-reveal-from-left">
  
    <h2 class="open-reveal-from-left">Filter</h2>

    <div class="filter-title-block">
        <h3 class="open-reveal-from-left">Medium</h3>
        <span class="set-all-filters">Clear All</span>
    </div>
    <aw-checkbox [filterName]="'Pencil'" ></aw-checkbox>
    <aw-checkbox [filterName]="'Digital'"></aw-checkbox>

    <div class="filter-title-block">
        <h3 class="open-reveal-from-left">Types</h3>
        <span class="set-all-filters">Clear All</span>
    </div>
    <aw-checkbox [filterName]="'Portrait'" ></aw-checkbox>
    <aw-checkbox [filterName]="'Illustration'"></aw-checkbox>

    <div class="filter-title-block">
        <h3 class="open-reveal-from-left">Subject</h3>
        <span class="set-all-filters">Clear All</span>
    </div>
    <aw-checkbox [filterName]="'Film & TV'" ></aw-checkbox>
    <aw-checkbox [filterName]="'Music'"></aw-checkbox>
    <aw-checkbox [filterName]="'Videogames'" ></aw-checkbox>

    <!-- <svg class="filter-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174.833 100" enable-background="new 0 0 174.833 100" xml:space="preserve">
        <g transform="translate(139.171,38.257)">
            <polygon class="triangle" fill="none" stroke-width="7.5" stroke-miterlimit="10" points="-17.754,29.872 17.742,29.872
            0,-6.385 "/>
        </g>
        <circle fill="none" stroke-width="10" stroke-miterlimit="10" cx="59" cy="50" r="40.5"/>
        <g transform="translate(59,50)">
            <g class="hand">
                <circle cx="0" cy="0" r="5"/>
                <line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="0" y2="-28"/>
            </g>
            <g class="hand" id="hour-hand">
                <line fill="none" stroke-width="10" stroke-miterlimit="10" x1="0" y1="0" x2="15.129" y2="12.694"/>
            </g>
        </g>
    </svg> -->
</aw-filter-panel>

<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem earum adipisci distinctio illum veritatis fugit excepturi unde vero rerum pariatur incidunt, architecto facilis officiis culpa animi commodi perferendis nisi veniam.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam accusamus atque aspernatur ab et magni nisi inventore nesciunt possimus, perferendis explicabo eaque, dolore hic repudiandae ad deleniti. Cum, esse sapiente?</p>
  <p>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur laborum, distinctio quos ex consequuntur doloremque voluptatum, at perferendis fugiat blanditiis corrupti atque assumenda pariatur aspernatur culpa. Dolores, debitis perspiciatis.</span>
      <span>Libero commodi vero at ducimus adipisci, harum, praesentium provident ullam aperiam inventore impedit debitis tempore! Unde, vel. Rem officia provident id enim possimus nemo voluptate consequuntur dolorum odio? Modi, perferendis!</span>
      <span>Atque quos voluptas, hic odio sit rerum commodi delectus beatae cum repellendus laboriosam! Obcaecati ullam dolore nihil assumenda, nobis repellat tenetur ipsum et debitis quam, atque, doloribus eaque cupiditate odio.</span>
      <span>Animi rerum facilis nesciunt placeat earum quasi neque, asperiores in quo ut temporibus nulla itaque eos rem aspernatur dolores laudantium tenetur repellat ab quidem vitae possimus odio! Perferendis, amet enim?</span>
  </p>
</div>
