@keyframes bounce{
	0% {
		transform: translateY(0rem);
	} 50% {
		transform: translateY(3rem);
	} 100% {
		transform: translateY(0rem);
	}
}

:host {
  display: block;
}

// :host{
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;
//   place-items: center;
//   width: 100%;
//   height: calc(100vh - var(--header-height) );
// }

#section-1{
  height: calc(100vh - 8rem); //fudge
  width: calc(100vw - 50px); //fudge
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  grid-template-columns: 1fr;;


  justify-items: center;

  #splash-screen-container,
  #arrow-container{

  }

}

#arrow-button{
  height: 2.5rem;
  width: auto;

  animation: bounce 1.75s ease-in-out infinite;
	// -webkit-backface-visibility: hidden;
	cursor: pointer;


  #arrow-path{
    fill:var(--aw-white);
  }
}

#arrow-button:hover{

  animation-play-state: paused;

  #arrow-path{
    fill: var(--aw-accent);
  }

}
