@keyframes bounce {
	0%, 100% {
		transform: translateY(-1rem);
	} 50% {
		transform: translateY(-4rem);
	}
}

@keyframes expand {
  0% {
    width: 0;
  } 100% {
    width: 27.5rem;
  }
}

@keyframes slide-up {
  0% {
    top: 5rem;
  } 100% {
    top: 0rem;
  }
}

@keyframes slide-down-art {
  0% {
    top: -5rem;
  } 100% {
    top: .5rem;
  }
}

@keyframes slide-down-plus {
  0% {
    top: -5rem;
  } 100% {
    top: -.25rem;
  }
}

@keyframes slide-down-code {
  0% {
    top: -5rem;
  } 100% {
    top: 0rem;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

:host {
  display: block;
}

// :host{
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;
//   place-items: center;
//   width: 100%;
//   height: calc(100vh - var(--header-height) );
// }

.page-section {
  width: 100%;
  height: calc(100vh - var(--header-height) - 4rem );
}

#splash-section {
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  grid-template-columns: 1fr;
  justify-items: center;

  user-select: none;

  font-family: 'Jaapokki';

  // #splash-screen-container,
  // #arrow-container{

  // }

  #splash-image-container {

    display: grid;
    grid-template-rows: 1fr 0px 0px 0px 5rem 1fr;
    grid-template-columns: 1fr;
    justify-items: center;


    #splash-full-name{
      padding-left: 1.5rem;
      padding-right: .25rem;

      font-size: 2.4rem;
      letter-spacing: 1rem;

      position: relative;
      align-self: end;


      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;

      #splash-first-name{
        animation: slide-up 500ms ease-out 250ms both;
      }

      #splash-second-name{
        animation: slide-up 500ms ease-out 375ms both;
        top: 2rem;
      }

      #splash-first-name, #splash-second-name{
        position: relative;
        left: 0rem;

        transform: translateY(100%);
      }

      .invisible-letter{
        opacity: 0;
        position: fixed;
        width: 0;
      }

      .name-triangle{
        fill: var(--aw-accent);
        height: 45px;
        display: inline;
        margin-right: 1rem;
      }

    }

    #splash-horizontal-divider{
      border: 0.15rem solid var(--aw-accent);
      height: 0;
      margin-top: -1.5rem;
      animation: expand 0.5s ease-in 0.05s both;
    }

    #art-plus-code{
      position: relative;
      height: 3.5rem;
      margin-top: -.25rem;


      font-size: 2.4rem;
      letter-spacing: 1rem;

      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;

      #art, #plus, #code{
        position: relative;
        left: 0rem;
      }
      #art{
        animation: slide-down-art 500ms ease-out 500ms both;
        margin-right: 1rem;
        fill: var(--aw-white);
      }

      #plus{
        color: var(--aw-accent);
        animation: slide-down-plus 500ms ease-out 625ms both;
      }

      #code{
        animation: slide-down-code 500ms ease-out 750ms both;
        margin-left: .25rem;
        fill: var(--aw-white);
      }
    }
  }


  #arrow-container {

    animation: fade-in 750ms both 1.5s;

    #arrow-button {
      height: 2.5rem;
      width: auto;

      animation: bounce 1.75s ease-in-out infinite;
      // -webkit-backface-visibility: hidden;
      cursor: pointer;


      #arrow-path {
        fill:var(--aw-white);
      }

      &:hover {

        animation-play-state: paused;

        #arrow-path{
          fill: var(--aw-accent);
        }

      }
    }

  }

}

#more-section {

  font-size: 3rem;
}
