$tooltip-border: .2rem solid var(--aw-accent);

// @keyframes draw-border {
//     0% {
//         border: 1px solid var(--aw-accent);
//     } 100% {

//     }
// }

:host{
    position: relative;
}

.tooltip {
    display: block;
    position: absolute;
    max-height: 0;
    max-width: 0;

    z-index: 20;

    overflow: hidden;
    white-space: nowrap;

    left: 50%;
    top: -1rem;
    transform: translateX(-50%) translateY(-100%);


    border: $tooltip-border;
    border-top: none;


    background-color: var(--aw-dark-grey);
    visibility: hidden;


    // border: $tooltip-border;
    // border-top: none;

    transition: none;

    .tooltip-text{
      position: relative;
      display: block;
      font-family: 'Jaapokki';
      font-size: .5rem;
      text-transform: uppercase;

      padding: .5rem;
      padding-bottom: .125rem;

    }

}

.tooltip-tail{
    position: absolute;
    border-style: solid;
    border-width: .433rem .25rem 0rem .25rem; // .866% for equilateral triangle
    border-color: var(--aw-accent) transparent transparent transparent;

    left: 50%;
    top: -1rem;

    transform: translateX(-50%);

    visibility: hidden;
}

.tooltip::before,
.tooltip::after{
  position: absolute;
  content: "";

  border-top: $tooltip-border;

  width: 0%;
  height: 100%;

  top: 0%;

  transition: none;

}

.tooltip::before{
  left: 0%;
}

.tooltip::after {
  right: 0%;
}



:host:hover {


  & .tooltip {
    max-height: 1000px;
    max-width: 1000px;

    visibility: visible;

    transition: max-height .5s .25s, max-width .5s;

  }

  & .tooltip::before,
  & .tooltip::after{
    width: 50%;

    transition: width .5s .5s;
  }

  .tooltip-tail {
      visibility: visible;
  }
}


:host.tt-left{

    .tooltip {
        left: initial;
        top: 50%;
        right: calc(100% + 1rem);

        transform: translateY(-50%);

        border: $tooltip-border;
        border-left: none;

        .tooltip-text {
            padding-bottom: .375rem;
            padding-left: .75rem;
        }
    }

    .tooltip::before,
    .tooltip::after {
        border: none;
        border-left: $tooltip-border;

        width: 100%;
        height: 0%;
    }

    .tooltip::before {
        left: initial;
        top: 0%;
    }

    .tooltip::after {
        right: initial;
        top: auto;
        bottom: 0%;
    }


    .tooltip-tail {

        left: initial;
        top: 50%;
        right: calc(100% + .567rem);

        transform: translateY(-50%);
        border-width: .25rem 0rem .25rem .433rem; // .866% for equilateral triangle
        border-color: transparent transparent transparent var(--aw-accent);

    }


    &:hover {
        .tooltip {
            transition: max-height .25s, max-width .75s .125s;
        }

        .tooltip::before,
        .tooltip::after {
            transition: height .5s .25s;
            height: 50%;
        }
    }
    
}