@import "../variables";


#header-background,
aw-header{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  height: var(--header-height);

  transition: top 0.2s ease-in;
}


#header-background{
  z-index: 10;
  background: url('../assets/images/background.svg');
  background-size: auto;
}

aw-header{
  z-index:11;
  background-color: var(--aw-darker-background);
}


#aw-background{
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  min-height: calc(100vh - var(--header-height) );
  background-image: url('../assets/images/background.svg');
  z-index: -1;
}

.content{
    position: absolute;
    top: var(--header-height);
    padding: 20px;

    overflow: hidden;
    color: var(--aw-white);

    // clip-path: inset(0px 0px 0px 0px);//none for Angular transition?
    transition: all 1s;
}

/* Mobile Menu */
@media(max-width: $mobile-breakpoint) {

  #mobile-menu{
    position: fixed;
    height: calc(100vh - var(--header-height));
    left: 0;
    right: 0;
    bottom: 100vh;

    z-index: 9;
    background-color: var(--aw-darker-background);
    transition: all 1s;

    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .mobile-menu-active{

    .content{
      clip-path: inset(0px 0px 0px 100vw);
    }

    #mobile-menu{
      bottom: var(--header-height);
    }

    #header-background,
    aw-header{
      top: calc(100vh - var(--header-height));
    }
  }
}

