<div  [@routeAnimations]="prepareRoute(outlet)"
      [ngClass]="{'mobile-menu-active': mobileMenuState}">
  <div id="header-background"></div>
  <div id="aw-background"></div>
  <nav >
    <aw-header [(mobileMenuActive)]="mobileMenuState"></aw-header>
  </nav>
  <main
    class="content">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <div id="mobile-menu">
    <a  class="nav-link"
        [routerLink]="['/art']"
        [routerLinkActive]="['link-active']">
        <span>ART</span>
    </a>
    <a  class="nav-link"
        [routerLink]="['/code']"
        [routerLinkActive]="['link-active']">
        <span>CODE</span>
    </a>
    <!-- <a  class="nav-link"
        [routerLink]="['/other']"
        [routerLinkActive]="['link-active']">
        <span>OTHER</span>
    </a> -->
    <a  class="nav-link"
        [routerLink]="['/about']"
        [routerLinkActive]="['link-active']">
        <span>ABOUT</span>
    </a>
  </div>
</div>
