@import "../variables";


#header-background,
aw-header{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  height: var(--header-height);
}

#header-background{
  z-index: 10;
  background: url('../assets/images/background.svg');
  background-size: auto;
}

aw-header{
  z-index:11;
  background-color: rgba(0, 0, 0, 0.25);
}


#aw-background{
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  min-height: calc(100vh - var(--header-height) );
  background-image: url('../assets/images/background.svg');
  z-index: -1;
}

.content{
    position: absolute;
    top: var(--header-height);
    padding: 20px;

    overflow: hidden;
    color: var(--aw-white);

    clip-path: inset(0px 0px 0px 0px);
    transition: all 1s;
}

/* Mobile Menu */
@media(max-width: $mobile-breakpoint) {

  #mobile-menu-background{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 100vw;
    bottom: 0;

    z-index: 9;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 1s;
  }

  .mobile-menu-active{

    .content{
      clip-path: inset(0px 0px 0px 100vw);
    }

    #mobile-menu-background{
      right: 0;
    }
  }
}

