@import '../../../variables';

:host{
  // position:fixed;
  // top: var(--header-height);
  // bottom: 0;

  display: grid;
  grid-template-columns: 1fr 175px;
}

#about-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;

  #who-text,
  #where-text,
  #what-text {
    grid-column: span 2;
  }

  .www-title{
    font-family: 'Jaapokki';
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}

#follow-sidebar{
  // justify-self: stretch;
  // justify-content: center;

  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 6);
  align-items: center;
  justify-content: space-around;
  // display: grid;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-gap: 20px;
  // align-content: center;

  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  width: 175px;

  z-index: 9;

  background-color: var(--aw-darker-background);

  a::before,
  a:hover::before {
    border: none;
  }

  .social-logo {
    height: 100px;
    width: 100px;
  }
}

#follow-footer-background{
  visibility: hidden;
}


/* Twitter */

@keyframes fly{
  from {
    transform:  translate(200px, 200px)
                rotate(37.1deg);
  } to {
    transform:  translate(200px, 170px)
                rotate(37.1deg);
	}
}

@keyframes flap{
	from {
		transform: scale(1, 1);
	} to {
		transform: scale(-1, 1);
  }
}

#twitter:hover,
#twitter:focus{

  #twitter-container{
    animation: fly 0.4s ease-in-out infinite alternate;
  }
  #twitter-wing{
    animation: flap 0.4s ease-in-out infinite alternate;
  }
}

/* Dribbble */

@keyframes bounce{
	0% {
    transform:  translateY(-25px);
	} 70% {
    transform: translateY(20px);
  } 100% {
    transform: translateY(25px);
  }
}

@keyframes squish {

  0%, 50%{
    transform: none;
  }100% {
    transform: scale(1.15, 0.85)
  }
}

#dribbble {


  &:hover{

    #bounce {

      animation: bounce .4s ease-in infinite alternate;

      #ball {

        animation: squish .4s ease-in infinite alternate;
        transform-origin: 50px 75px;

      }

    }
  }
}


/* Email */

#email {

  #flap, #inner-flap {

    transition: transform 1s .5s;
    transform-origin: 2305.61px 1250px;
  }

  #outer-flap {
    transition: opacity 1s .5s;
  }



  #letter {
    transition: transform .5s ease-in;

    .letter-text {
      stroke: var(--aw-accent-dark);
      stroke-width: 25px;
    }
  }



  .email-primary {
    fill: var(--aw-accent);
  }

  .email-secondary {
    fill: var(--aw-accent-dark);
  }

  .email-tertiary {
    fill: var(--aw-accent-light);
  }
}

#email:hover{

  #flap, #inner-flap {
    transform: rotateX(180deg);
    transition: transform 1s;
  }

  #outer-flap {
    opacity: 0;
    transition: opacity 1s .01s;
  }


  #letter {
    transform: translateY(-750px);
    transition: transform .5s ease-in .75s;
  }
}


/* Portrait screens */

@media(orientation: portrait) {

  #follow-sidebar {

    .social-logo {
      height: 70px;
      width: 70px;
    }
  }

  #about-main {
    padding-bottom: calc(var(--header-height) + 1rem);
  }

  :host {
    grid-template-columns: 1fr;
  }



  #follow-footer-background,
  #follow-sidebar {
    top: calc(100vh - var(--header-height));
    height: var(--header-height);
    left: 0;
    width: 100vw;

    flex-direction: row;
    // var(--aw-darker-background);
  }

  // #follow-sidebar{
  //   background-color: red;
  //   z-index: 19;
  // }

  #follow-footer-background {
    position: fixed;
    background-image: url('../../../assets/images/background.svg');
    background-position-y: calc(-100vh + var(--header-height));

    visibility: visible;
    // background-image: url('../../../assets/images/background.svg');
  }
}


/* Temp stuff */
#test2{
  
  transition-duration: 0.2s;

  .word {
    clip-path: inset(0);
    transition-duration: 0.2s;

    background: red;
  }
}

#test2:hover{

  transform: translateY(20px);

  .word{
    clip-path: inset(0px 0px 100% 0px);
  }
}
