/* Fonts */
@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki-regular.ttf');
}

/* Colours */
:root{
  --aw-white: #EEEEEE;
  --aw-accent: #F2642A;
}


/* Global Styles */
:root{
  background-color: #BBBBBB;

  .content{
    position: absolute;
    top:70px;
  }
}
