/* Fonts */
@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki-regular.ttf');
}

/* Colours */
:root{
  --aw-white: #EEEEEE;
  --aw-accent: #F2642A;
}

/* Background Tracker */
:root{
  --background-offset-tracker-X:0;
}


/* Global Styles
===================*/


/*Scrollbar*/
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: blue green;
}
body::-webkit-scrollbar-track {
  background: #222;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--aw-accent);
  border-radius: 6px;
  border: 3px solid #222;
}


