/* Fonts */
@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki-regular.ttf');
}

@font-face{
  font-family: 'Main';
  // src: url('./assets/fonts/syne/syne/OTF/Syne-Regular.otf');
  //src: url('./assets/fonts/infini/infini/02_Webfonts/01_Regular/infini-regular.ttf);
  // src: url('./assets/fonts/metropolis/metropolis/Metropolis-Medium.otf');
  // src: url('./assets/fonts/glacialindifference/glacialindifference/GlacialIndifference-Regular.otf');
  src: url('./assets/fonts/butler/Butler/Butler_Regular.otf');
}

/* Colours */
:root{
  --aw-white: #EEEEEE;
  --aw-accent: #F2642A;
  --aw-accent-light: rgb(236, 125, 81);
  --aw-accent-dark: rgb(168, 65, 24);

  --aw-mid-grey: #282828;
  --aw-dark-grey: #222;

  --aw-darker-background: rgba(1, 1, 1, 0.3);
}

/* Timings */

:root{
  --page-slide: 0.75s ease-in-out;
  --t1: 0.6s ease-out;
  --t2: 0.75s;
}

/* Dimensions */

:root{
  --header-height: 95px;
  --scrollbar-width: 11px;
}


/* Global Styles
===================*/

html{
  background-color: hsl( 0deg, 0%, 15% );
  background-image: url('./assets/images/background.svg');
  background-attachment: fixed;
  font-size: 20px;
  min-height: 100%;
}

body{
  min-height: 100%;
}

:root{

  button{
    background: none;
    border: none;

  }
  button:focus{
    outline: none!important;
  }
  a:focus{
    outline: none;
  }

  nav{
    ::selection{
      color: inherit;
      background: none;
    }
  }
  main{

    font-family: 'Main';

    ::selection{
      color: var(--aw-white);
      background-color: rgba(242, 100, 42, 0.99); //Have to use slightly transpartent RGBA 'cos of weird Chrome issue
    }
    a::selection{
      color: var(--aw-mid-grey) !important;
    }


    a{
      color: var(--aw-accent);
      text-decoration: none;
      position: relative;
      display: inline-block;
    }

    a::before{
      position: absolute;
      top: 100%;
      left: 50%;
      right: 50%;
      pointer-events: none;
      border-bottom: .15ch solid var(--aw-accent);
      width: inherit;
      content: "";

      transition: var(--t2);
    }

    a:hover::before,
    a:focus::before{
      content: "";
      color: transparent;
      left: 0%;
      right: 0%;
      text-decoration: underline;
    }
  }
}

/*Scrollbar*/
body::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
body {
  // scrollbar-width: thin;
  // scrollbar-color: blue green;
}
body::-webkit-scrollbar-track {
  background: #222;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--aw-accent);
  border-radius: 6px;
  border: 3px solid #222;
}


/* Animate on Scroll classes */

.reveal-from-left {

  transition: clip-path .25s ease-out;
  clip-path: inset(0px 0% -4px 0px);

  &.waiting-for-scroll {
    clip-path: inset(0px 100% -4px 0px);
  }
}

.underline-from-left {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    border-bottom: 4px solid var(--aw-white);
    content: "";

    top: 0;
    left: 0;
    width: 66%;
    height: 100%;

    transition: width 0.25s ease-out 0.2s;
  }

  &.waiting-for-scroll::after{
      width: 0%;
  }

}

// .slide-from-right {
//   position: absolute;
//   transition: transform .5s ease-in .5s;

//   &.waiting-for-scroll {
//     transform: translateX(100%);
//   }
// }

// .load-fade-from-right{

//   transition: all 1s;

//   &:hover {
//     transform: translateX(5rem);
//     opacity: 0;
//   }
// }

// p { background-color: blue};

// span { background-color: greenyellow;
// clip-path: inset(0 50% 0 0);
// box-decoration-break: clone};
